<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Include Tailwind CSS from CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">
    <title>File Upload</title>
</head>

<body class="bg-gray-100">

    <div class="container mx-auto p-8">
        <div class="flex flex-col items-center justify-center">
            <h1 class="text-3xl font-bold mb-8">Upload a File</h1>
            <form method="post" action="/" enctype="multipart/form-data" class="mb-4" id="upload-form">
                <div class="flex items-center justify-center w-full">
                    <label
                        class="flex flex-col w-full h-32 border-4 border-dashed hover:bg-gray-100 hover:border-gray-300"
                        id="dropzone">
                        <div class="flex flex-col items-center justify-center pt-7">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                class="w-12 h-12 text-gray-400 group-hover:text-gray-600" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M7 7l10 10m0-10l-10 10"></path>
                            </svg>
                            <p class="pt-1 text-sm tracking-wider text-gray-400 group-hover:text-gray-600"
                                id="dropzone-instructions">
                                Attach a file
                            </p>
                        </div>
                        <input type="file" name="file" class="opacity-0" onchange="handleFileSelect()"
                            id="file-input" />
                    </label>
                </div>
                <div class="flex items-center justify-center w-full">
                    <label for="encrypt" class="flex items-center">
                        <input type="checkbox" id="encrypt" name="encrypt" class="form-checkbox" />
                        <span class="ml-2">Encrypt File</span>
                    </label>
                </div>
                <button type="submit"
                    class="mt-3 px-4 py-2 bg-blue-500 text-white text-base font-medium rounded-md w-full shadow-sm hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-300 disabled:opacity-50 disabled:bg-blue-200"
                    disabled id="submit-button">
                    Upload
                </button>
            </form>
            <div class="mt-8 w-full">
                {% for file in files %}
                <div class="flex items-center justify-between bg-white rounded-lg shadow-md p-4 mb-2">
                    <div class="flex items-center">
                        <h2 class="text-lg font-semibold text-gray-900 truncate">{{ file[1] }}</h2>
                    </div>
                    <div class="flex items-center">
                        <button data-id="{{ file[0] }}"
                            class="download-button px-4 py-2 bg-blue-500 text-white text-sm font-medium rounded hover:bg-blue-600 mr-2">
                            Download
                        </button>
                        <form action="{{ url_for('delete_file', id=file[0]) }}" method="POST">
                            <button type="submit"
                                class="px-4 py-2 bg-red-500 text-white text-sm font-medium rounded hover:bg-red-600">
                                Delete
                            </button>
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Encryption Modal -->
    <div id="encryption-modal" class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50 hidden">
        <div class="bg-white p-8 rounded shadow-lg">
            <h2 class="text-lg font-semibold mb-4">Set or Enter Encryption Password</h2>
            <input type="password" id="encryption-password-input" class="border border-gray-300 rounded px-3 py-2 mb-4"
                required minlength="8" />
            <span id="encryption-password-error" class="text-red-500 font-semibold hidden mb-4"></span>
            <button id="encryption-modal-submit-button"
                class="px-4 py-2 bg-blue-500 text-white text-sm font-medium rounded hover:bg-blue-600">
                Submit
            </button>
        </div>
    </div>

    <!-- Decryption Modal -->
    <div id="decryption-modal" class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50 hidden">
        <div class="bg-white p-8 rounded shadow-lg">
            <h2 class="text-lg font-semibold mb-4">Enter Decryption Password</h2>
            <input type="password" id="decryption-password-input" class="border border-gray-300 rounded px-3 py-2 mb-4"
                required />
            <span id="decryption-password-error" class="text-red-500 font-semibold hidden mb-4"></span>
            <button id="decryption-modal-submit-button"
                class="px-4 py-2 bg-blue-500 text-white text-sm font-medium rounded hover:bg-blue-600">
                Submit
            </button>
        </div>
    </div>

    <script>
        // DOM Elements
        const fileInput = document.getElementById('file-input');
        const submitButton = document.getElementById('submit-button');
        const dropzone = document.getElementById('dropzone');
        const dropzoneInstructions = document.getElementById('dropzone-instructions');
        const encryptCheckbox = document.getElementById('encrypt');
        const encryptionModal = document.getElementById('encryption-modal');
        const encryptionPasswordInput = document.getElementById('encryption-password-input');
        const encryptionPasswordError = document.getElementById('encryption-password-error');
        const encryptionModalSubmitButton = document.getElementById('encryption-modal-submit-button');
        const downloadButtons = document.querySelectorAll('.download-button');
        const decryptionModal = document.getElementById('decryption-modal');
        const decryptionPasswordInput = document.getElementById('decryption-password-input');
        const decryptionPasswordError = document.getElementById('decryption-password-error');
        const decryptionModalSubmitButton = document.getElementById('decryption-modal-submit-button');

        // Event Listeners
        fileInput.addEventListener('change', handleFileSelect);
        encryptCheckbox.addEventListener('change', handleEncryptCheckboxChange);
        encryptionModalSubmitButton.addEventListener('click', handleEncryptionModalSubmit);
        downloadButtons.forEach(button => button.addEventListener('click', handleDownloadClick));
        decryptionModalSubmitButton.addEventListener('click', handleDecryptionModalSubmit);

        // Functions
        function handleFileSelect() {
            if (fileInput.files.length > 0) {
                submitButton.disabled = false;
                dropzone.classList.add('bg-gray-200', 'border-gray-500');
                dropzoneInstructions.textContent = 'File ready to upload';
            } else {
                submitButton.disabled = true;
                dropzone.classList.remove('bg-gray-200', 'border-gray-500');
                dropzoneInstructions.textContent = 'Attach a file';
            }
        }

        function handleEncryptCheckboxChange() {
            encryptionModal.classList.toggle('hidden', !this.checked);
        }

        function handleEncryptionModalSubmit(event) {
            const password = encryptionPasswordInput.value;

            encryptionPasswordError.textContent = '';
            encryptionPasswordError.classList.add('hidden');

            if (password.trim() === '') {
                event.preventDefault();
                encryptionPasswordError.textContent = 'Please enter a password';
                encryptionPasswordError.classList.remove('hidden');
            } else if (password.length < 8) {
                event.preventDefault();
                encryptionPasswordError.textContent = 'Password must be at least 8 characters long';
                encryptionPasswordError.classList.remove('hidden');
            } else {
                const encryptKeyInput = document.createElement('input');
                encryptKeyInput.type = 'hidden';
                encryptKeyInput.name = 'encrypt_key';
                encryptKeyInput.value = password;

                const uploadForm = document.getElementById('upload-form');
                const formData = new FormData(uploadForm);
                formData.append('encrypt_key', password);
                formData.append('file', fileInput.files[0]);

                fetch('/', {
                    method: 'POST',
                    body: formData
                })
                    .then(response => {
                        if (response.ok) {
                            encryptionModal.classList.add('hidden');
                            window.location.href = '/';
                        } else {
                            console.error('File upload failed');
                            throw new Error('File upload failed');
                        }
                    })
                    .catch(error => {
                        console.error('An error occurred:', error);
                    });
            }
        }

        function handleDownloadClick(event) {
            event.preventDefault();
            const fileId = this.getAttribute('data-id');
            decryptionModal.setAttribute('data-file-id', fileId);
            decryptionModal.classList.remove('hidden');
        }

        function handleDecryptionModalSubmit() {
            const password = decryptionPasswordInput.value;
            const fileId = decryptionModal.getAttribute('data-file-id');

            decryptionPasswordError.textContent = '';
            decryptionPasswordError.classList.add('hidden');

            fetch(`/download/${fileId}`, {
                method: 'POST',
                body: new FormData(document.createElement('form')).append('decrypt_password', password)
            })
                .then(response => {
                    if (response.ok) {
                        return response.blob();
                    } else {
                        return response.text().then(error => {
                            throw new Error(error);
                        });
                    }
                })
                .then(blob => {
                    const url = window.URL.createObjectURL(blob);
                    const a = document.createElement('a');
                    a.href = url;
                    a.download = 'file.zip';
                    document.body.appendChild(a);
                    a.click();
                    a.remove();
                    window.URL.revokeObjectURL(url);
                    decryptionModal.classList.add('hidden');
                })
                .catch(error => {
                    console.error('Decryption failed:', error);
                    decryptionPasswordError.textContent = 'Decryption failed. Please enter the correct password.';
                    decryptionPasswordError.classList.remove('hidden');
                });
        }
    </script>

</body>

</html>
