<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Include Tailwind CSS from CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">
    <title>File Upload</title>
</head>

<body class="bg-gray-100">

    <div class="container mx-auto p-8">
        <div class="flex flex-col items-center justify-center">
            <h1 class="text-3xl font-bold mb-8">Upload a File</h1>
            <form method="post" action="/" enctype="multipart/form-data" class="mb-4" id="upload-form">
                <div class="flex items-center justify-center w-full">
                    <label
                        class="flex flex-col w-full h-32 border-4 border-dashed hover:bg-gray-100 hover:border-gray-300"
                        id="dropzone">
                        <div class="flex flex-col items-center justify-center pt-7">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                class="w-12 h-12 text-gray-400 group-hover:text-gray-600" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M7 7l10 10m0-10l-10 10"></path>
                            </svg>
                            <p class="pt-1 text-sm tracking-wider text-gray-400 group-hover:text-gray-600"
                                id="dropzone-instructions">
                                Attach a file
                            </p>
                        </div>
                        <input type="file" name="file" class="opacity-0" onchange="fileSelected()" id="file-input" />
                    </label>
                </div>
                <div class="flex items-center justify-center w-full">
                    <label for="encrypt" class="flex items-center">
                        <input type="checkbox" id="encrypt" name="encrypt" class="form-checkbox" />
                        <span class="ml-2">Encrypt File</span>
                    </label>
                </div>
                <button type="submit"
                    class="mt-3 px-4 py-2 bg-blue-500 text-white text-base font-medium rounded-md w-full shadow-sm hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-300 disabled:opacity-50 disabled:bg-blue-200"
                    disabled id="submit-button">
                    Upload
                </button>
            </form>
            <div class="mt-8 w-full">
                {% for file in files %}
                <div class="flex items-center justify-between bg-white rounded-lg shadow-md p-4 mb-2">
                    <div class="flex items-center">
                        <h2 class="text-lg font-semibold text-gray-900 truncate">{{ file[1] }}</h2>
                    </div>
                    <div class="flex items-center">
                        <a href="{{ url_for('download_file', id=file[0]) }}"
                            class="px-4 py-2 bg-blue-500 text-white text-sm font-medium rounded hover:bg-blue-600 mr-2">
                            Download
                        </a>
                        <form action="{{ url_for('delete_file', id=file[0]) }}" method="POST">
                            <button type="submit"
                                class="px-4 py-2 bg-red-500 text-white text-sm font-medium rounded hover:bg-red-600">
                                Delete
                            </button>
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Add modal HTML code here -->
    <div id="modal" class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50 hidden">
        <div class="bg-white p-8 rounded shadow-lg">
            <h2 class="text-lg font-semibold mb-4">Set or Enter Encryption Password</h2>
            <input type="password" id="password-input" class="border border-gray-300 rounded px-3 py-2 mb-4" required
                minlength="8" />
            <span id="password-error" class="text-red-500 font-semibold hidden mb-4"></span>
            <button id="modal-submit-button"
                class="px-4 py-2 bg-blue-500 text-white text-sm font-medium rounded hover:bg-blue-600">
                Submit
            </button>
        </div>
    </div>
    <script>
        function fileSelected() {
            var fileInput = document.getElementById('file-input');
            var submitButton = document.getElementById('submit-button');
            var dropzone = document.getElementById('dropzone');
            var dropzoneInstructions = document.getElementById('dropzone-instructions');

            // Check if any file is selected
            if (fileInput.files.length > 0) {
                submitButton.disabled = false;  // Enable the submit button
                dropzone.classList.add('bg-gray-200', 'border-gray-500');  // Change dropzone background
                dropzoneInstructions.textContent = 'File ready to upload';  // Update dropzone instructions
            } else {
                submitButton.disabled = true;  // Disable the submit button
                dropzone.classList.remove('bg-gray-200', 'border-gray-500');  // Revert dropzone background
                dropzoneInstructions.textContent = 'Attach a file';  // Revert dropzone instructions
            }
        }

        // Add event listener to the checkbox
        var encryptCheckbox = document.getElementById('encrypt');
        encryptCheckbox.addEventListener('change', function () {
            var modal = document.getElementById('modal');
            if (this.checked) {
                modal.classList.remove('hidden');  // Show the modal
            } else {
                modal.classList.add('hidden');  // Hide the modal
            }
        });

        // Add event listener to the modal submit button
        var modalSubmitButton = document.getElementById('modal-submit-button');
        var passwordInput = document.getElementById('password-input');
        var passwordError = document.getElementById('password-error');
        var modal = document.getElementById('modal');

        modalSubmitButton.addEventListener('click', function (event) {
            var password = passwordInput.value;

            // Reset the error message
            passwordError.textContent = '';
            passwordError.classList.add('hidden');

            // Validate the password
            if (password.trim() === '') {
                event.preventDefault(); // Prevent form submission
                passwordError.textContent = 'Please enter a password';
                passwordError.classList.remove('hidden');
            } else if (password.length < 8) {
                event.preventDefault(); // Prevent form submission
                passwordError.textContent = 'Password must be at least 8 characters long';
                passwordError.classList.remove('hidden');
            } else {
                // Password is valid, proceed with form submission
                var encryptKeyInput = document.createElement('input');
                encryptKeyInput.type = 'hidden';
                encryptKeyInput.name = 'encrypt_key';
                encryptKeyInput.value = password;

                var fileInput = document.getElementById('file-input');
                var uploadForm = document.getElementById('upload-form');
                var formData = new FormData(uploadForm);
                formData.append('encrypt_key', password);
                formData.append('file', fileInput.files[0]);

                // Submit the form using the FormData object
                fetch('/', {
                    method: 'POST',
                    body: formData
                })
                    .then(response => {
                        if (response.ok) {
                            // Redirect to success page or show a success message
                            modal.classList.add('hidden'); // Hide the modal
                            window.location.href = '/';
                        } else {
                            // Handle error case
                            console.error('File upload failed');
                            throw new Error('File upload failed');
                        }
                    })
                    .catch(error => {
                        console.error('An error occurred:', error);
                    });
            }
        });
    </script>

</body>

</html>
